.btn-1{    
    padding: $size-3 $size-5;
    color: $text-color;
    border-radius: 50px;
}
.btn-2{    
    padding: $size-3 $size-5;
    color: $text-color;
    border-radius: 50px;
}
.btn-3{    
    padding: $size-3 $size-5;
    color: $text-color;
    border-radius: 50px;
}



$color-list:(
    blu: #0e6cff,
    orange: #ff8700,
    green: #4caf50,
);

@each $key, $value in $color-list{
    .btn-color-#{$key}{
        background-color: $value;
    }
}